flask
pandas
numpy
scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn
joblib
flask-cors
shap
scipy
openpyxl
pyarrow
google-genai
python-dotenv
torch
transformers
optuna
openai
dice-ml
hdbscan
umap-learn
statsmodels
firebase-admin
boto3
google-generativeai